.title{
    padding: 20px;
}
.config_forms{
    padding: 0px 30px 30px 30px;
}
.form-group select{
    margin: 0px 5px 5px 10px;
}
.form-group{
    padding: 5px;
}
input[type="text"]{
    margin: 0px 5px 5px 0px;
}
.span_tag{
    margin-right: 5px;
    font-size: 20px;
}
.label_tag{
    margin-right: 7px;
}
.row-margin{
    margin-left: 20px;
    margin-right: 20px;
}
.panel-body{
    padding: 5px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #5eade2;
    width: 33px;
    height: 33px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}